{% extends 'craigslist/base.html' %}

{% block content %}
{% load static %}
<h2> {{search_query | title}} </h2>
<div class="row s4">
    {% for object in final_postings%}
        <div class="col s4 m4">
            <div class="card">
                <div class="card-image ">
                    <img src="{{object.3}}">
                    <span class="card-title"> </span>
                </div>
                <div class="card-content">
                    <p>{{object.0 | title}} <br>
                        Price :{{object.1}}
                    </p>
                </div>
                <div class="card-action">
                    <a href={{object.2}}>More Details:</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}